.panePrincipal{
    -fx-background-color: transparent;
}
.avaliacaoPane{
    -fx-background-color: rgba(255,255,255,0.8);
    -fx-background-radius: 50;
}
.button{
    -fx-background-radius: 100;
}
.rating > .container > .button:disabled{
    -fx-pref-width: 40 ;
    -fx-pref-height: 40 ;
    -fx-background-size: cover;
    -fx-padding: 0;
    -fx-opacity: 1
}
.rating > .container > .button{
    -fx-pref-width: 45 ;
    -fx-pref-height: 45 ;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

